aiohttp-jinja2==1.6
aiohttp-session==2.12.1
aiohttp
aiopg
attrs==24.3.0             # via aiohttp
chardet==5.2.0            # via aiohttp
hiredis==3.1.0            # via aioredis
idna==3.10                 # via yarl
jinja2==3.1.5              # via aiohttp-jinja2
markupsafe==3.0.2         # via jinja2
multidict==6.1.0          # via aiohttp, yarl
psycopg2==2.9.10         # via aiopg
pyyaml==6.0.2
redis
trafaret-config==2.0.2
trafaret==2.1.1
yarl==1.18.3               # via aiohttp
